<%- include("../addons/head"), {title:title} %>
<%- include("../addons/navbar") %>

<div class="uk-cover-container uk-height-medium">
    <% if(postInfo[0].header_image !== null) {%> 
<!-- Header image -->
    <img src="<%- postInfo[0].header_image %> " alt="" uk-cover>
<% }else{ %>
    <img src="/images/grey.jpg" alt="" uk-cover>
<% } %> 
</div>

<br><br>
<div class="uk-container uk-container-xlarge ">
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <% console.log(postInfo[0]); %> 
        <li><span><%= postInfo[0].title %></span></li>
    </ul>
    <article class="uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href=""><%= postInfo[0].title %></a></h1>

        <p class="uk-article-meta">Written by <a href="#"> <%= postInfo[0].author %>  </a> on <%= postInfo[0].date_created.substring(0,16) %>.

        <p class="uk-text-lead"> <%= postInfo[0].post_meta %>  </p>

        <p> <%- postInfo[0].body %>  </p>

    </article>
</div>

<%- include("../addons/footer") %>