<%- include("../addons/head"), {title:title} %>
<%- include("../addons/navbar") %>
<% if(pageInfo[0].image !== '' && pageInfo[0].image !== ' ' && pageInfo[0].image !== null) {%> 
<div class="uk-cover-container uk-height-medium">
<!-- Header image -->
    <img src="<%- pageInfo[0].image %> " alt="" uk-cover>
</div>
<% } %> 

<br><br>
<div class="uk-container uk-container-xlarge ">
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><span><%= pageInfo[0].title %></span></li>
    </ul>
    <article class="uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href=""><%= pageInfo[0].title %></a></h1>

        <p> <%- pageInfo[0].content %>  </p>

    </article>
</div>

<%- include("../addons/footer") %>