<%- include("../addons/head"), {title:title} %> 
<%- include("../addons/nav") %> 
<div class="content-padder content-background">
    <div class="uk-section-small uk-section-default header">
        <div class="uk-container uk-container-large">
            <h1><span class="ion-speedometer"></span> Dashboard</h1>
            <p>
                Welcome back, <%= user[0].first_name %> <%= user[0].last_name %>!
            </p>
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span href="">Dashboard</span></li>
            </ul>
        </div>
    </div>
    
</div>
<%- include("../addons/footer") %> 