<%- include("../addons/head"), {title:title} %> 
<%- include("../addons/nav") %>

<div class="content-padder content-background">
    <div class="uk-section-small uk-section-default header">
        <div class="uk-container uk-container-large">
            <h1><span class="ion-speedometer"></span> Article list</h1>
            <p>
                Welcome back, <%= user[0].first_name %> <%= user[0].last_name %>!
            </p>
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span href="">Article list</span></li>
            </ul>
        </div>
    </div>

    <div class="uk-section-small">
        <div class="uk-container uk-container-large">
            <a class="uk-button uk-button-primary" style="float: right;" href="/dashboard/create/post"> <span uk-icon="icon: plus"></span> Create post
            </a>
            <br><br>
            <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
                
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            Website Table
                        </div>
                        
                        <div class="uk-card-body">
                            
                            <table class="uk-table uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Post Meta</th>
                                        <th>Tags</th>
                                        <th>Status</th>
                                        <th>Date Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var post of articles) { %>
                                    <tr>
                                        <td> <%= post.id %>  </td>
                                        <td> <%= post.title %>  </td>
                                        <td> <%= post.post_meta %>  </td>
                                        <td> <%= post.tags %>  </td>
                                        <% if(post.status === 1){ %> 
                                            <td> Published  </td>
                                        <% } else if(post.status === 2) { %>
                                            <td> Draft  </td>
                                        <% } else { %>
                                            <td> Archived  </td>
                                        <% } %>
                                        <td> <%= post.date_created %>  </td>
                                        <td> <a href="edit/post/<%= post.id %>"><span uk-icon="pencil"></span></a>
                                            <a href="delete/post/<%= post.id %>"><span uk-icon="trash"></span></a>
                                        </td>

                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<%- include("../addons/footer") %> 