<%- include("../addons/head"), {title:title} %> 
<%- include("../addons/nav") %> 
<div class="content-padder content-background">
    <div class="uk-section-small uk-section-default header">
        <div class="uk-container uk-container-large">
            <h1><span class="ion-speedometer"></span> Dashboard</h1>
            <p>
                Welcome back, <%= user[0].first_name %> <%= user[0].last_name %>!
            </p>
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span href="">Dashboard</span></li>
            </ul>
        </div>
    </div>
    <div class="dashbord-cards">
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <h1><span class="uk-margin-big-right dashbord-card-icon" uk-icon="album"></span></h1>
            <h3 class="uk-card-title">Amount of posts</h3>
            <p>Lorem ipsum The amout of posts that have been posted until now</p>
            <h4><%= postAmount %></h4>
        </div>
    </div>
</div>
<%- include("../addons/footer") %> 