<%- include("../addons/head"), {title:title} %> 
<%- include("../addons/nav") %>

<div class="content-padder content-background">
    <div class="uk-section-small uk-section-default header">
        <div class="uk-container uk-container-large">
            <h1><span class="ion-speedometer"></span> Article list</h1>
            <p>
                Welcome back, <%= user[0].first_name %> <%= user[0].last_name %>!
            </p>
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span href="">Article list</span></li>
            </ul>
        </div>
    </div>
    <form method="POST">
        <div class="uk-section-small">
            <div class="uk-container uk-container-large">
                <div class="uk-margin">
                    <select class="uk-select" style="width: 80%;" name="choice">
                        <% for(var post of posts) { %>
                        <option value="<%= post.id %> "><%= post.title %> </option>
                        <% } %>
                    </select>
                    
                        <button class="uk-button uk-button-primary" style="float: right;"><span uk-icon="icon: plus"></span> Add
                        </button>
                    
                </div>
        </form>
            <br><br>
            <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
                
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            Website Table
                        </div>
                        
                        <div class="uk-card-body">
                            
                            <table class="uk-table uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Post Meta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var post of editorChoice) { %>
                                    <tr>
                                        <td> <%= post.id %>  </td>
                                        <td> <%= post.title %>  </td>
                                        <td> <a href="/dashboard/editor-choice/delete/<%= post.id %>"><span uk-icon="trash"></span></a> </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<%- include("../addons/footer") %> 